* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #afa9d9;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;   /* removes the scroll from left to right  at the bottom of the pages */  
  margin: 0;
}
  .flex-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #282e40;
    
  }
  .logo > a{
    color: white;
    margin-left: 10px;
  }

  .nav-list{
   display: flex;
  justify-content: space-between;
  padding: 0 30px;
  height: 60px;
  
  }

  .nav-item{
     margin: 25px;

  }
  .nav-link a{
    color: white;
    font-size: 15px;
    transition: all 0.4s;

  }
  .nav-link a:hover{
    color: #f2a172;

  }

  .active-link a{
    color: #f2a172;
   }


.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: #282e40;
  padding: 25px 25px;
}

.footer-list {
  
  color: white;
  margin: 15px 15px;
  padding: 15px 15px;
}
.footer-item li{
  padding: 5px;
}
.footer-item h2{
 font-weight: 500;

}

.footer-item a {
  color: white;
  transition: all 0.4s;
}
.footer-item a:hover {
  color: #f2a172;
}
 #menu__toggle {
   position: absolute;
  left: -9999px;        /* moves horizontal navbar off-screen */
}
  
  
  

/* MEDIA QUERY */
@media (max-width: 680px) {

       
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .nav-list{
        visibility: visible;
        left: 0;
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }

      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transition-duration: .25s;
      }

      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
        #menu__toggle {
        opacity: 0;
      }
      .nav-list {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 200px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        background-color: #8082A6;
        box-shadow: 1px 0px 6px #f2a172;
        transition-duration: .25s;
      }
      
      .flex-navbar{
       padding: 20px;
      }
   
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: small;
  }


}



