* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root{
  --primary-color:        #AFA9D9; /*  body color */
  --secondary-color:      #8082A6; /*  Aside color */
  --nav-and-footer-color: #282E40; /*  Navbar and footer color */
  --text-and-hover-color: #F2A172; /*  acrive page and hover color */

  --body-bg-color:        #afa9d9;
  --text-color-initial:   #ffff;
  --alt-hover-color:      #F2BBC9;
}

body {
  background-color: #afa9d9;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden; /* removes the scroll from left to right  at the bottom of the pages */
  margin: 0;
}
.flex-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--nav-and-footer-color);
}
.logo > a {
  color: var(--text-color-initial);
  margin-left: 10px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  height: 60px;
}

.nav-item {
  margin: 25px;
}
.nav-link a {
  color:var(--text-color-initial);
  font-size: 15px;
  transition: all 0.4s;
}
.nav-link a:hover {
  color: var(--text-and-hover-color);
}

.active-link a {
  color: var(--text-and-hover-color);
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: var(--nav-and-footer-color);
  padding: 25px 25px;
}

.footer-list {
  color: var(--text-color-initial);
  margin: 15px 15px;
  padding: 15px 15px;
}
.footer-item li {
  padding: 5px;
}
.footer-item h2 {
  font-weight: 500;
}

.footer-item a {
  color: var(--text-color-initial);
  transition: all 0.4s;
}
.footer-item a:hover {
  color: var(--text-and-hover-color);
}
#menu__toggle {
  position: absolute;
  left: -9999px; /* moves horizontal navbar off-screen */
}

/* MEDIA QUERY */
@media (max-width: 680px) {
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .nav-list {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--text-color-initial);
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  #menu__toggle {
    opacity: 0;
  }
  .nav-list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: var(--secondary-color);
    box-shadow: 1px 0px 6px var(--text-and-hover-color);
    transition-duration: 0.25s;
  }

  .flex-navbar {
    padding: 20px;
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: small;
  }
}
